@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body{
  font-family: "Titan One", sans-serif;
  background-color: #FFF8D4;
  color:#313647;
}

.container{
  margin: auto;
  width: 75%;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

h1{
  font-size: 4vw;
}

input {
  width: 5%;
  font-family: "Titan One", sans-serif;
  font-size: 1.5vw;
  background-color: #FFF8D4;
  border: 2px solid #A3B087;
  border-radius: .2rem;
  color:#313647;
}

label{
  font-size: 1.5vw;
}

#submit{
  margin-top: 2vh;
  width: 10%;
  color: #313647;
  background-color: #A3B087;
  padding: 0.2em, 0.4em;
  border: 2px solid #A3B087;
  border-radius: .2rem;
}

#submit:hover{
  border: 2px solid #435663;
}

p{
  font-size: 1.25vw;
}
