<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training app</title>
    <link rel="stylesheet" href="./style.css">

    <script src="./dexie.min.js"></script>
</head>
<body>
<h1>Training app</h1>

<div class="container">
  <form class="" onsubmit="return calculator();">
    <label for="weight">Weight:</label><br>
    <input id="weight" min="1" type="number"><br>
    <label for="reps">Reps:</label><br>
    <input id="reps" max="12" min="1" type="number"><br>
    <input type="submit" value="Submit">
  </form><br>
  <p id='1rm'>1RM=</p>
  <p id='2rm'>2RM=</p>
  <p id='3rm'>3RM=</p>
  <p id='4rm'>4RM=</p>
  <p id='5rm'>5RM=</p>
  <p id='6rm'>6RM=</p>
  <p id='7rm'>7RM=</p>
  <p id='8rm'>8RM=</p>
  <p id='9rm'>9RM=</p>
  <p id='10rm'>10RM=</p>
  <p id='11rm'>11RM=</p>
  <p id='12rm'>12RM=</p>

</div>

<script src="./xRM-calculator.js"></script>
</body>
</html>
